div.center {
	text-align: center;
    color: white;
    background-image: url('/styles/images/dashboard_background.jpg');
}
div.center h1 {
    font-size:70pt;
}
div.center p1 {
    font-size:15pt;
}
div {
    width: 100vw;
    height: 100%;
    z-index:1000;
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#btnHome {
    font-size: 20pt;
}
body,html {
    height: 100%;
    font-family: OCR A Std,monospace !important;
    background: black;
    background-image: url('http://165.232.63.158/styles/images/dashboard_background.jpg');
    background-repeat: no-repeat;
    background-position: right!important;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    background: white;
    color: black;
}
.w3-bar-item {
    transform: translateY(40%);   
}
.logo {
    transform: translateY(10%);
}