body,html {
    height: 100%;
    font-family: OCR A Std,monospace !important;
    background: black;
}
#btnHome {
    font-size: 20pt;
}
nav {
    background: white;
    color: black;
}
.w3-bar-item {
    transform: translateY(40%);   
}
.logo {
    transform: translateY(10%);
}